@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
}

/**
 * THEME
 */
:root {
  --color-light-text: hsla(256, 20%, 10%, 1);
  --color-light-bg: hsla(256, 20%, 90%, 1);
  --color-dark-text: hsla(256, 10%, 95%, 0.8);
  --color-dark-bg: hsla(256, 0%, 8%, 1);
}

html {
  color: var(--color-light-text);
  background-color: var(--color-light-bg);
}
@media (prefers-color-scheme: dark) {
  html {
    color: var(--color-dark-text);
    background-color: var(--color-dark-bg);
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
