@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; }
}

/**
 * THEME
 */
:root {
  --primary-hue: 220.7;
  --color-primary: hsl(220.7, 80.5%, 53.7%); /* #2a67e8 */
  --color-light-text: hsla(var(--primary-hue), 20%, 10%, 1);
  --color-light-bg: hsla(var(--primary-hue), 10%, 95%, 1);
  --color-light-gray-text: hsla(var(--primary-hue), 0%, 42%, 1);
  --color-dark-text: hsla(var(--primary-hue), 0%, 100%, 0.85);
  --color-dark-bg: hsla(var(--primary-hue), 0%, 15%, 1);
  --color-dark-gray-text: hsla(var(--primary-hue), 0%, 62%, 1);
}

html {
  color: var(--color-light-text);
  background-color: var(--color-light-bg);
}
.gray-text {
  color: var(--color-light-gray-text);
}
/* @media (prefers-color-scheme: dark) {
  html {
    color: var(--color-dark-text);
    background-color: var(--color-dark-bg);
  }
  .gray-text {
    color: var(--color-dark-gray-text);
  }
} */

html,
body {
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 5rem;
}

a {
  color: inherit;
}

.serif {
  color: var(--color-primary);
  font-family: Lora, Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}
